#navbar ul li a{
    font-size: 0.6rem;
    margin-bottom: 5px;
    margin-left: 3px;
}

.boxA{
    font-size: 13px;
    font-size: 13px;
    flex-direction: column;
    height: 329px;
    text-align: center;
    justify-content: center;
}

.boxA-image2{
    right: 0;

}
.boxA-image3{
    right: 0;

}
.boxA-image4{
    right: 0;

}

.BoxA-content1{
    right: 0;

}
.BoxA-content2{
    right: 0;

}
.BoxA-content3{
    right: 0;
}

.BoxA-content{
    margin-right: 0;
}

.boxA h4{
    font-size: 23px;
}
#Abouve-contact {

    /* scale: 0.8; */
}

#faq2 {
    scale: 0.5;
    /* position: relative;
    bottom: 222px; */
}

#faq1 {
    margin: 0px 7px;
    font-size: 10px;
    position: relative;
    top: 255px;
}