#members{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
}
/* .mem{
    margin: auto;
    padding-top: 20px;
} */

.h1-primary{
    font-size: 23px;
}

#home p{
    font-size: 10px;
}