*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

/* #website{
     display: none; 
} */

/* Login Page */

.hero{
    color: #01579b;
    font-family: 'Oswald', sans-serif;
}
.Login-Container::before{
    content: "";
    background-color: #01579b;
    position: absolute;
    height: 174%    ;
    width: 50%;
    z-index: -1;
}

.Login-Container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin-top: 38px;

}

.LoginTitle{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
}
.LoginTitle h1{
    font-size: 100px;
}
.form-box{
    width: 380px;
    height: 595px;
    position: relative;
    margin: 3% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    border-radius: 0.375rem;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    border-radius: 0.375rem;
}

.toggle-btn{
    padding: 10px 40px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    width: 97px;
}
#log{
    color: white;
}
#reg{
    color: #01579b;
}

#btn{
    top: 0;
    left: 0;
    position:absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #dc3545 , #dc3545 );
    color: white;
    border-radius: 0.375rem;
    transition: 0.5s;
}
.social-icons{
    margin: 30px auto;
    text-align: center;

}
.social-icons img{
    cursor: pointer;
    size: 10px;
    height: 30px;
    width: 45px;
    
}
.input-group1{
    top: 120px;
    position: absolute;
    width: 280px;
    transition: 0.5s; 
}
.input-group2{
    top: 100px;
    position: absolute;
    width: 280px;
    transition: 0.5s; 
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.Submit-btn1{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 20px;
    background: linear-gradient(to right,#dc3545,#dc3545);
    color: white;
    border: 0;
    outline: none;
    border-radius: 30px;
    margin-top: 63px;
}

.Submit-btn2{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 2px auto;
    background: linear-gradient(to right, #dc3545,#dc3545);
    color: white;
    border: 0;
    outline: none;
    border-radius: 30px;
    margin-top: 84px;
}
.check-box{
    margin: 30px 10px 30px 0;

}
span{
    color: #777;
    font-size: 12px;
    bottom: 56px;
    position: absolute;
}
#login{
    left: 44px;
    position: relative;
    top: 67px;
    text-align: center;
}
#register{
    left: 450px;
}
/* Navbar */

#navbar{
    display: flex;
    align-items: center;
    position: relative;
    /* top: 0; */
    width: 100%;
    height: 67px;
}

#navbar::before{
    content: "";
    background-color: #01579b;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

/* Navigation Bar : Logo and Image */
#logo{
        
        margin: 18px 35px;
        padding: 9px;
        color: white;
}

/* Navigation Bar : List Styling */


#navbar ul{
    display: flex;
    list-style: none;
    font-size: 1.2rem;
    text-align: center;
}
    
    #navbar ul li a {
        display: block;
        color: white;
        margin: 4px 14px;
        padding: 3px;
        margin-top: 16px;
        text-decoration: none;
        border-radius: 11px;
    }


#navbar ul li a:hover{
    color: #01579b;
    background-color: white;
    border: 3x solid black;
}

/* Home section */


#home{

    color: black;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    height: 512px;
    /* padding: 56px 42px; */
    text-align: left;

}


#home img{
    position: relative;
    top: 107px;
}

.col{
    margin-top: -22px;
}
/* #home2{
    height: 616px;
    margin-top: -74px;
} */

/* #home::before{
    content: "";
    position: absolute;
    background: url('img/bg1.jpg') no-repeat center center/cover;
    height: 542px;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
} */

#home p{
    font-size: 1.2rem;
    margin-left: 17px;
    color: #01579b;
}
#home h1{
    margin-top: 90px;
    color: #01579b;
    text-align: left;
}

/* About section */

#why{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    margin: 20px;
    margin-top: 61px;
    margin-bottom: 61px; 
    justify-content: center;  
}
.whyimg{

    scale: 0.6;
}

#whyp2{
    
    position: relative;
    top: 13px;
}
#whyp3{
    position: relative;
    bottom: 21px;
}

#box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 13px;
    border-radius: 33px;
    background-color: #01579b;
    color: white;
}
#box1 p{
    margin: 23px;
}
.box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 45px 13px;
    border-radius: 33px;

}
.box2 p{
    margin: 23px;
}

#aboutH{
    position: relative;
    top: 53px;
}
#about{
    color: #01579b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 179px;
    text-align: center;
}

#about1{
    padding: 15px;
}
#about1 img{
    height: 567px;
    width: 756px;
}

#about p{
    padding: 12px;
}

#btn{
    position: relative;
    bottom: 11px;
    font-size: 12px;
}

/* Members Section */

#members{
    display: grid;
    grid-template-columns: 0.3fr 0.3fr 0.3fr;
    align-items: center;
    justify-content: center;
    color: #01579b;
}
.mem{
    margin: 20px auto;
    padding-top: 20px;
    border-radius: 43px;
}

.card1{
    margin: 22px;
}
/* Events Section */

#services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 9px 15px;
    align-items: center;
    justify-self: center;
    color: #01579b  ;
}


#services .box{
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    padding: 23px;
    margin: 9px 14px;
    background: white;
    border-radius: 33px;
}
#services .box img{
    height: 170px;
    display: block;
    margin: auto;
}

/* Contact Section */

#Abouve-contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 62px;
    margin-top: 4px;
}
.boxA-image2{
    position: relative;
    right: 14px;
}
.boxA-image3{
    position: relative;
    right: 30px;
}
.boxA-image4{
    position: relative;
    right: 17px;
}

.BoxA-content1{
    position: relative;
    right: 33px;
}
.BoxA-content2{
    position: relative;
    right: 55px;
}
.BoxA-content3{
    position: relative;
    right: 28px;
}
.BoxA-content{
    margin-right: 41px;
}

.boxA{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* border: 2px solid; */
    height: 164px;
    margin: 15px;
}

.boxA img{
    scale: 0.5;
}
.box-contact{
    
    display: flex;

}

#contact{
    position: relative;
    margin-top: -23px;
}

#contact::before{
    content: "";
    position: absolute;
    background: url('img/contact.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 49px;
    /* box-shadow: 0 0 45px 5px; */
    padding: 23px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 8px;
    border: 2px solid gray;
    margin-bottom: 12px;
}

#contact-box form{
    width: 100%;
}

#faqTitle{
    margin-top: 41px;
}

#faqMain{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 80%;
    gap: 69px;
    overflow-x: auto;
    position: relative;
    top: 60px;
}

#faq{
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    margin: 55px 119px;
    border-radius: 43px; 
    width: 100%;
    padding: 0 2rem 2rem; 
    
}

#faq1{
    margin: 0px 71px;
}

#faq2{
    scale: 0.7;
}

footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}


/* Utility Classes */

.h1-primary{
    margin-top: 80px;
    font-size: 3.8rem;
    padding: 15px;
    color: #01579b;
}
.h1-secondary{
    font-size: 1.8rem;
    padding: 15px;
    
}

.font{
    font-family: 'Oswald', sans-serif;
}
.btn{
    background-color: rgb(3, 100, 3);
    margin: 15px;  
    color: rgb(138, 243, 138);
    border: 2px solid white;
    font-size: large;
    border-radius: 8px;
    cursor: pointer;
}

.center{
    text-align: center;
}

@keyframes transitionIn {
    
    form{
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
}

/* Scroll bar */

.vertical-scroll::-webkit-scrollbar {
    width: 2em;
    height: 1em;
  }
  .vertical-scroll::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
    margin-block: 0.5em;
  }
  
  .vertical-scroll::-webkit-scrollbar-thumb {
    background:  #01579b;
    border: 0.25em solid rgb(255, 255, 255);
    border-radius: 100vw;
  }
  
  .vertical-scroll::-webkit-scrollbar-thumb:hover {
    background: hsl(120 100% 10% / 1);
  }
  
  /* Vertical scrolling */
  
  .vertical-scroll{
    display: grid;
    gap: 0.5em;
    grid-auto-flow: column;
    grid-auto-columns: 75%;
    padding: 0.5em;
    overflow-x: scroll;
    background: #01579b;
    
    position: relative;
  }
  
  .vertical-scroll > div {
    background: rgb(255, 255, 255);
    border-radius: 1em;
    /* border: 0.5em solid hsl(0 0% 60%); */
    padding: 1em;
  }